body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #e9ecef;
  background-color: #741536;
  height: 100%;
  background-image: linear-gradient(to top, #681331 0%, #000 100%);
}

.search-form {
  font-family: "Rubik", sans-serif;
  height: 4rem;
  width: 40rem;
  background-color: #dee2e6;
  font-size: 2.4rem;
  outline: none;
  border: none;
}

.search-btn {
  height: 4rem;
  width: 8rem;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: #741536;
  transition: all 0.5s;
}

.search-btn:hover {
  cursor: pointer;
  background-color: #90445e;
}

.search-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #dee2e6;
}

.movies-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 90vh;
  padding: 3.2rem 6.2rem;
  justify-content: center;
}

.movie-box {
  border: 1px solid #dee2e6;
  position: relative;
}

.error-message {
  font-size: 2.4rem;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.movies-form {
  display: inline-block;
  position: relative;
}

.movie-result {
  padding: 2rem 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  border-bottom: 1px solid #dee2e6;
}

.movie-result:hover {
  cursor: pointer;
  opacity: 80%;
}

.results-box {
  position: relative;
}

.result-img {
  width: 35%;
  height: auto;
}
.result-title {
  font-size: 3rem;
  margin-bottom: 2.4rem;
  font-weight: 500;
}
.result-description {
  font-size: 1.4rem;
  color: #adb5bd;
}

.page-btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding-top: 3.2rem;
}

.right-btn {
  grid-column: 2/3;
}

.pagination-btn {
  height: 4rem;
  width: 8em;
  font-size: 1.8rem;
  background-color: #2e0816;
  border-radius: 100px;
  border: none;
  color: #dee2e6;
  transition: all 0.5s;
}

.pagination-btn:hover {
  cursor: pointer;
  background-color: #90445e;
}

.movie-box {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2fr 1fr;
  position: relative;
}

.movie-info {
  padding: 2.2rem;
}

.movie-img {
  height: auto;
  width: 80%;
}

.movie-title {
  font-size: 4.4rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2.4rem;
}

.movie-title-info {
  display: flex;
  align-items: center;
  font-size: 2rem;
  justify-content: space-between;
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 2.4rem;
  margin-bottom: 2.4rem;
  color: #adb5bd;
}

.title-icon {
  height: 2rem;
  width: 2rem;
}
.star-icon {
  width: 3rem;
  height: 3rem;
  color: #fab005;
}

.movie-genre-box {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  margin-bottom: 3.5rem;
}

.movie-genre {
  font-size: 2rem;
  border: 1px solid #dee2e6;
  padding: 1rem 2rem;
  background-color: #17040b;
}

.movie-like {
  display: flex;
  align-items: center;
  gap: 4.4rem;
  background-color: rgba(222, 226, 230, 0.05);
  padding: 0 2rem;
}

.like-text {
  font-size: 1.6rem;
}

.like-btn {
  background-color: transparent;
  border: none;
}

.icon-heart {
  color: #d5b9c3;
  width: 6.4rem;
  height: 6.4rem;
  transition: all 0.5s;
}

.icon-heart:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.movie-awards-box {
  margin-bottom: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 2.4rem;
}

.movie-awards {
  font-size: 2.4rem;
}

.rating-icon {
  height: 3rem;
  width: 3rem;
}

.icon-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.4rem;
  width: 4.4rem;
  border-radius: 50%;
  background-color: #90445e;
  margin-right: 1rem;
}

.movie-description {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  margin: 0 2.4rem;
}

.movie-plot {
  font-size: 1.8rem;
  margin-bottom: 4.4rem;
  line-height: 1.4;
  color: #adb5bd;
}

.movie-makers {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.movie-maker {
  font-size: 1.6rem;
  color: #adb5bd;
}

.movie-description-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movie-maker-span {
  color: #dee2e6;
  font-size: 1.8rem;
  margin-right: 0.4rem;
}

.watchlist {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding: 1.2rem;
  background-color: rgba(222, 226, 230, 0.05);
}

.watchlist-text {
  font-size: 2.4rem;
  color: #e9ecef;
}

.watchlist-btn {
  background-color: transparent;
  border: none;
  transition: all 0.5s;
}

.watchlist-btn:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.icon-bookmark {
  height: 6.2rem;
  width: 6.2rem;
  color: #d5b9c3;
}
